* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2% 6%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #000;
  border-radius: 50%;
  padding: 30px;
  height: 150px;
  width: 150px;
  background-color: #bbb;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 25px;
  padding: 20px;
  background-color: #bbb;
  border: 4px solid #000;
}

.main-nav a {
  color: rgb(39, 15, 85);
}

.movies {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 200px 0;
}

.ind-mov {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 20%;
}

.ind-mov img {
  width: 100%;
  height: 300px;
  justify-content: space-between;
}

.like-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: orchid;
  gap: 5px;
}

.name-like {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
}

.comments-popup {
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  width: 100%;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 40px;
}

.desc {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-comment {
  display: flex;
  justify-content: center;
}

.popup {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pop_up {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 90%;
  height: 95vh;
  align-items: center;
  gap: 20px;
  border: solid 2px #000;
  top: 5px;
  background-color: #bbb;
  margin: 1% 5%;
}

.close_div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  font-size: 35px;
}

.specs {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.comments_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 20px;
}

.comment-form input {
  width: 400px;
  padding: 15px;
}

.comment-form textarea {
  width: 400px;
  min-height: 100px;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  padding: 2% 5%;
  border-top: solid 4px #000;
  background-color: #bbb;
}
